name: Windows
on:
  workflow_dispatch:
   inputs:
     code: 
       required: True
     Name:
       required: False
     AndroidStudio:
       type: boolean
     RippingTools:
       type: boolean
     FreeFire:
       type: boolean

jobs:
  windows:
    name: Windows 10
    runs-on: windows-2022

    steps:
    - name: setup
      run: | 
       $temp = "$Env:COMPUTERNAME"
       $Env:COMPUTERNAME = "${{ inputs.Name }}"
       choco install chrome-remote-desktop-host --ignore-checksum
       ${{ inputs.code }} --pin=123456
       $Env:COMPUTERNAME = "$temp"
    - name: Installing Tools
      shell: pwsh
      run: |
        if ("${{ inputs.AndroidStudio }}" -eq "true") { choco install androidstudio --ignore-checksum}
        if ("${{ inputs.RippingTools }}" -eq "true") { write-host " RippingTools installation"}
        if ("${{ inputs.FreeFire }}" -eq "true") { 
          choco install bluestacks --ignore-checksum
          Start-BitsTransfer -Source "https://dl.cdn.freefiremobile.com/live/package/FreeFire.apk" -Destination "C:\temp\FreeFire.apk"
          & "C:\Program Files\BlueStacks\HD-ApkHandler.exe" "C:\temp\FreeFire.apk"
          }
    - name: CountDown
      run: |
           $i = 355
           do {
             Write-Host $i
             Sleep 60
             $i--
           } while ($i -gt 0)
